<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Echo News Scraper</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved articles</a>
      </li>
      </ul>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-danger scrape-new scrapper">SCRAPE NEW article!</a></button>
      </li>
      </ul>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR article!</a>
      </li>
</nav>